{
    "port": "8091",
    "http-timeout-seconds": 30,
    "rate-limit": 120,
    "ws-port": 8092,
    "remote-config-url": "",
    "remote-ignore-config": [],
    "cors": "",
    "trusted-proxies": "",
    "gh-proxy": "",
    "ota": "false",
    "api-base-url": {
        "DualStack": [
            {
                "label": "中国 江苏 移动",
                "id": "cn-jiangsu",
                "url": "https://cn-jiangsu.api-ipw.wsmdn.top/"
            }
        ],
        "IPv4": [],
        "IPv6": []
    },
    "ip-location-api": [
        {
            "label": "中国 江苏 移动",
            "id": "cn-jiangsu",
            "url": "https://cn-jiangsu.api-ipw.wsmdn.top/"
        }
    ],
    "api-keys": {},
    "ws-keys": {}
}
