{
    "port": "8091",
    "httpTimeoutSeconds": 30,
    "cors": "",
    "apiBaseUrls": [
        {
            "label": "中国 江苏 移动",
            "id": "cn-jiangsu",
            "url": "https://cn-jiangsu.api-ipw.wsmdn.top/"
        }
    ],
    "IPLocationAPIs": [
        {
            "label": "中国 江苏 移动",
            "id": "cn-jiangsu",
            "url": "https://cn-jiangsu.api-ipw.wsmdn.top/"
        }
    ],
    "TCPing": {
        "DualStack": [
            {
                "label": "中国 江苏 移动",
                "id": "cn-jiangsu",
                "url": "https://cn-jiangsu.api-ipw.wsmdn.top/"
            }
        ],
        "IPv4": [
        ],
        "IPv6": [
        ]
    },
    "SpeedTest": {
        "DualStack": [
            {
                "label": "中国 江苏 移动",
                "id": "cn-jiangsu",
                "url": "https://cn-jiangsu.api-ipw.wsmdn.top/"
            }
        ],
        "IPv4": [
        ],
        "IPv6": [
        ]
    },
    "NSLookup": [
        {
            "label": "中国 江苏 移动",
            "id": "cn-jiangsu",
            "url": "https://cn-jiangsu.api-ipw.wsmdn.top/"
        }
    ],
    "apiKeys": {
    }
}
