{
    "port": 8080,
    "gh-proxy": "",
    "single-stack": "",
    "dns-server": "",
    "dnssec-server": "",
    "block-private-ips": true,
    "ipdb": "false",
    "cors": "",
    "remote-config-url": "",
    "remote-ignore-config": [],
    "access-token": "",
    "ws-url": "",
    "node-id": "",
    "node-key": "",
    "node-ota": "false"
}
