{
    "port": 8080,
    "gh-proxy": "",
    "single-stack": "",
    "dns-server": "",
    "dnssec-server": "",
    "ipdb": false,
    "cors": "",
    "access-token": "",
    "ws-url": "",
    "node-id": "",
    "node-key": ""
}
